.pull-left{
  float: left;
}

.pull-right{
  float: right;
}

.clearfix:before,
.clearfix:after{
  content: '';
  display: table;
}

.clearfix:after{
  clear: both;
}

.site-head{
  background: #d71149;
  padding: 10px;
  overflow: hidden;
  text-align: center;
  position: relative;
}

.logo{
  display: inline-block;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.icon{
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  background-image: url(../images/sprite.png);
}

.icon-refresh{
  background-position: 50% 0;
}

.icon-close{
  background-position: 50% -24px;
}

.icon-expand{
  background-position: 50% -52px;
}

.icon-collapse{
  background-position: 50% -72px;
}

.btn{
  display: inline-block;
  cursor: pointer;
}

.btn-seamless{
  background-color: transparent;
  border: none;
  padding: 0;
}

.btn-refresh{
  position: absolute;
  right: 18px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  transform: translate(0, -50%)
}

.category-list{
  margin: 0;
  padding: 10px 18px;
}

.category-list-item{
  padding: 0;
  margin: 0;
  list-style: none;
}

.category-list-item + .category-list-item{
  border-top: 1px dotted #f0f0f0;
}

.category-level-2 .category-list-item + .category-list-item{
  border-top: 1px solid #f0f0f0;
}

.category-level-1 .category-list-item + .category-list-item{
  border-top: none;
}

.category-level-1 .category-list-item{
  padding-right: 10px;
}

.category-level-1 .category-list-item:nth-child(even){
  background-color: #f8f8f8;
}

.category-link{
  display: block;
  padding: 10px 0 10px 10px;
  cursor: pointer;
  color: #808080;
}

.category-link > .icon-collapse{
  margin-top: -2px;
  margin-right: 10px;
}

.category-link > .icon-expand{
  margin-top: 4px;
  margin-right: 10px;
}

.category-count{
  float: right;
  color: #c4c4c4;
  display: inline-block;
  margin-top: 4px;
}

.category-head{
  background-color: #f0f0f0;
  padding: 10px 18px;
}

.category-head-text{
  margin: 0;
  margin-top: 4px;
}
