.pull-left{
  float: left;
}

.pull-right{
  float: right;
}

.clearfix:before,
.clearfix:after{
  content: '';
  display: table;
}

.clearfix:after{
  clear: both;
}

.site-head{
  background: #d71149;
  padding: 10px;
  overflow: hidden;
}

.site-head > h1{
  display: inline-block;
  float: left;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.icon{
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  background-image: url(../images/sprite.png);
}

.icon-refresh{
  background-position: 50% 0;
}

.icon-close{
  background-position: 50% -24px;
}

.icon-expand{
  background-position: 50% -52px;
}

.icon-collapse{
  background-position: 50% -72px;
}

.btn{
  display: inline-block;
}

.btn-seamless{
  background-color: transparent;
  border: none;
  padding: 0;
}

.btn-refresh{
  float: right;
}

.category-list{
  margin: 0;
  padding: 0;
}

.category-list-item{
  padding: 0;
  margin: 0;
  list-style: none;
}

.category-link{
  display: block;
}

.category-count{
  float: right;
}
